*{
    margin: 0;
    font-family: arial;
    border: border-box;
}
.navbar{
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex ;
    align-items: center;
    justify-content: space-evenly;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
}
.logo{
    background-image: url("amazon_logo.png");
    height: 50px;
    width: 100px;
    background-size: cover;
}
.nav-logo{
    height: 50px;
    width: 100px;
}
.nav-logo:hover{
   border :1.5px solid white;
   padding: 2.5px;
}
.border{
    border: 1.5px solid transparent;
}
.border:hover{
    border: 1px solid white;
    padding: 7px;
}
.add-fir{
color: #cccccc;
font-size: 0.85rem;
margin-left: 15px;
}
.add-sec{
    font-size: 1rem;
    margin-left: 3px;
}
.add-icon{
    display: flex;
    align-items: center;
}
.nav-search{
    
    display: flex;
    justify-content: space-evenly;
     background: pink;
     width: 620px;
     height: 40px;
     border-radius: 4px;
   
}
.search-select{
    background: #f3f3f3;
    width: 150px;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;
}
.search-input{
    width: 100%;
    font-size: 1rem;
    border: none;
}
.search-icon{
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    background: #febd68;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    color: black;
}
.nav-search:hover{
    border: 2px solid orange
}
.nav-sec{
    font-size: .7rem;
}
.cart {
    font-size:0.85rem;
    font-weight: 700;
}
.my-cart i {
    font-size:30px;
}
.panel{
    height: 40px;
    background: #222f3d;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-evenly;
}
.panel-ops p {
   display: inline;
   margin-left: 15px;
}
.panel-ops{
    width: 70%;
    font-size: 0.85rem;
}
.panel-deals{
    font-size: 0.9rem;
    font-weight: 700;
}
.border{
    padding: 7px;
    font-weight: 500;
 }
 .section-head{
    background-image: url("box_17_image.jpg");
    background-size: cover;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
 }
 .section-head-1{
    background: white;
    color: black;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.85rem;
    bottom: 25px;
    width: 85%;
    margin-bottom: 20px;
 }
 .section-head-1 a {
    color: #007185;
 }
 .box-head{
    display: flex;
    justify-content: space-evenly;
    background-color: #e2e7e6;
    flex-wrap: wrap;
 }
 .box  {
    height: 400px;
    width: 23%;
    background-color: white;
    padding: 20px 0px 15px;
    margin-top: 20px;
 }
 .box-img{
    height: 300px;
    background-size: cover;
    margin-top: 1rem;
    margin-bottom: 1rem;
 }

 .box-content{
    margin-left: 1rem;
    margin-right: 1rem;
 }
 .box-content p{
    color: rgb(7, 17, 17);
 }
 .box-head1{
    background-color: #e2e7e6 ;
    display: flex;
    justify-content: center;
    align-items: center;
}
 .box1  {
    height: 300px;
    width: 94%;
    background-color: white;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
 }
 .box-img1{
    height: 300px;
    background-size: cover;
 }
 .more button{
   background-color: #ffffff;
   color: black;
   margin-left: 46.2%;
   font-weight: 600;
   font-size: larger;
   width: 98px;
   height: 40px;
   border-radius: 6px;
 }
 .more a{
   text-decoration: none;
   color: black;
 }
 .sign-in{
   margin-top: 30px;
   margin-bottom: 20px;
 }
 .sign-in1{
   padding-left: 42%;
 }
 .sign-in1 p{
   padding: 5px;
   font-size: small;
   color: rgb(55, 49, 49);
   padding: 8px;
 }
 .sign-in1 button{
   background-color: #f3bd33b3;
   color:black;
   width: 220px;
   height: 25px;
   font-weight: 550;
   border-radius: 5px;
   border: 2px solid orange;
 }
 .sign-in1 button a{
   text-decoration: none;
   color: black;
 }
 .sign-in1  div{
 font-size: x-small;
 margin-left: 47px;
 padding: 8px;
 color: rgb(55, 49, 49);
 }
 .foot-panel{
    background-color: #37475a;
    color: white;
    padding: 10px;
    /* margin-top: 15px; */
    font-size: 0.85rem;
 }
 .foot-panel p{
    margin-left: 47.4%;
 }
 .foot-panel a{
   text-decoration: none;
   color: white;
 }
 .foot-panel1{
    background-color: #222f3d;
    color: white;
    display: flex;
    justify-content: space-evenly;
    height: 300px;
 }
 ul{
    margin-top: 10px;
 }
 ul a {
    display: block;
    font-size: 0.85rem;
    margin-top: 10px;
    color: #dddddd;
    text-decoration: none;
 }
 ul a:hover{
   text-decoration: underline;
 }
 .foot-panel2{
    background-color: #222f3d;
    color: white;
    border-top: 1,5px solid white;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
 }
 .logo{
    background-image: url("amazon_logo.png");
    background-size: cover;
    height: 50px;
    width: 100px;
 }
 .foot-panel3{
    background-color:#0f1111 ;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
 }
 .foot-panel3 ul a{
    display: block;
    font-size: 0.6rem;
    margin-top: 10px;
    color: #dddddd;
 }
 .foot-panel3 ul{
    margin: 10px;
    margin-left: 60px;
    margin-right: 60px;
 }
 .foot-panel4{
    background-color:#0f1111 ;
    color: white;
 }
 .cndt{
    font-size: 0.8rem;
    padding-top: 10px;
    text-align: center;
 }
 .cndt a {
    padding-right: 6px;
    text-decoration: none;
    color: white;

 }
 .cndt a:hover{
   text-decoration: underline;
   color: white;
 }
 .copy{
    padding-top: 5px;
    font-size: 0.8rem;
    text-align: center;

 }
 